<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common-head :: common_html_head(${pageTitle}, ${additionalStyles})}"></head>

<body>
<header th:insert="~{header :: head(${heading}, ${secondaryHeading})}"></header>

<main>
  <section th:insert="~{systemNav :: systemNav}"></section>

  <section class="table-container menu-item-recipe-table table-scroll">
    <a th:href="@{/system/changeMenu/addMenuItem(menuItemId=${menuItemId})}">Update Recipe</a>
    <table>
      <thead>
      <tr>
        <th>Ingredient Name</th>
        <th>Quantity</th>
        <th>Unit</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="ingredientArr : ${menuItemRecipe}">
        <td th:text="${ingredientArr[0]}"></td>
        <td th:text="${ingredientArr[1]}"></td>
        <td th:text="${ingredientArr[2]}"></td>
      </tr>
      </tbody>
    </table>
  </section>

</main>


</body>
</html>