<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common-head :: common_html_head(${pageTitle}, ${additionalStyles})}"></head>

<body>

<header th:insert="~{header :: head(${heading}, ${secondaryHeading})}"></header>

<main>
  <section th:insert="~{systemNav :: systemNav}"></section>

  <section class="horizontal-center table-container">
    <h3 class="no-top-margin" th:text="${searchBy}"></h3>

    <p th:if="${noUsers}" >
      <span th:text="${noUsers}" class="error"></span>
    </p>

    <div class="space-between">
      <div>
        <a th:href="@{/system/showRegistrationForm}">Add User</a>
        <span> || </span>
        <a th:href="@{/system/userData}">Show All</a>
      </div>

      <div class="form-body">
        <form th:action="@{/system/userDataByRole}" METHOD="GET">
          <label>Search by role:
            <select th:name="userRole">
                <option th:each="role : ${T(com.pizzashop.entities.RoleEnum).values()}" th:value="${role}" th:text="${role}" ></option>
            </select>
          </label>
          <input type="submit" value="Search">
        </form>
        <form th:action="@{/system/userDataByLastname}" METHOD="GET">
          <label>Search by lastname:
            <input type="text" th:name="userLastName" placeholder="lastname"/>
          </label>
          <input type="submit" value="Search">
        </form>
      </div>
    </div>

    <div class="table-scroll" id="table">
      <table th:if="users">
        <thead>
          <tr>
            <th>Username</th>
            <th>Role(s)</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone #</th>
            <th>Full Address</th>
            <th>Active?</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td>
              <sub th:each="role : ${user.roles}">
                <span th:text="${role.role}"></span><br>
              </sub>
            </td>
            <td th:text="${user.userDetail.firstName}"></td>
            <td th:text="${user.userDetail.lastName}"></td>
            <td th:text="${user.userDetail.email}"></td>
            <td th:text="${user.userDetail.phone}"></td>
            <td th:text="${user.userDetail.address + ' ' + user.userDetail.city + ', ' + user.userDetail.state}"></td>
            <td th:text="${user.isActive}"></td>
            <td class="table-actions">
              <a th:href="@{/system/showUpdateUserForm(userId=${user.id})}">Update</a>
              <a th:if="${user.isActive}" th:href="@{/system/deactivateUser(userId=${user.id})}">Deactivate</a>
              <a th:if="${user.isActive == false}" th:href="@{/system/activateUser(userId=${user.id})}">Activate</a>
            </td>
          </tr>
        </tbody>

      </table>
    </div>

  </section>



</main>

</body>
</html>