:root {
    --bg_1: #0B401D;
    --bg_2: #F1F2D8;
    --bg_3: #d91e1e;
    --bg_4: #F2B544;
    --dark-text: #333333;
    --light-text: #fcfcfc;
    --dark-transparent: rgba(8, 58, 47, 0.55);
    --dark-transparent2: rgba(8, 58, 47, 0.10);
    --light-transparent: rgba(255, 255, 255, 0.50);
    --light-transparent2: rgba(255, 255, 255, 0.25);
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background: var(--bg_1);
    margin: 0;
    padding: 0 2vw 2vw 2vw;
    overflow-y: scroll;
    color: var(--dark-text);
}

main {
    min-height: 60vh;
    border-radius: 0 0 0.5rem 0.5rem;
    padding-bottom: 1rem;
}

header, main {
    max-width: clamp(80rem, 95vw, 100rem);
    background: var(--bg_2);
    margin: 0 auto;
}

nav ul, .admin-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 2vw;
    margin: 0;
    gap: 4vw;
}

nav ul a, #logout-btn {
    font-family: Aclonica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline var(--bg_3);
    color: var(--dark-text);
    cursor: pointer;
    transition: color 200ms ease;
}

nav ul a:hover, #logout-btn:hover {
    color: var(--bg_4);
    transition: color 200ms ease;
}

#logout-btn {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-family: Italiana, serif;
    margin: 0.5rem auto 0.5rem auto;
}

.secondary-heading {
    font-family: Aclonica, sans-serif;
    margin: 0 auto 0.5rem auto;
}

.heading, .secondary-heading {
    padding: 0 2vw;
    font-size: 3rem;
}

.address {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0 2vw;
}

.address p {
    margin: 0.5rem 0;
}

.checker-pattern {
    background-image: url('../images/checker.svg');
    background-repeat: repeat;
    background-size: 2.5rem, 5rem;
    width: 100%;
    height: 5rem;
    margin: 0.5rem 0;
}

.vertical-center {
    align-items: center;
}

.no-top-margin {
    margin-top: 0;
}

.space-between, .space-between-dashed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.space-between-dashed {
    border-bottom: 1px dotted var(--bg_4);
    margin-bottom: 0.25rem;
}

summary {
    cursor: pointer;
}

#system-links-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-content: center;
    padding: 6vh 2vw;
    gap: 2vw;
}

.system-link-box {
    min-height: 15vh;
    border-radius: 0.5rem;
    border: 2px solid var(--dark-transparent);
    background-color: var(--light-transparent);
    text-align: center;
}

.system-link-box svg {
    width: 5vw;
    fill: var(--dark-transparent2);
}

.system-link-box:hover {
    transition: border 200ms ease, color 200ms ease;
    border: 2px solid var(--light-transparent);
    color: var(--bg_4);
}

.system-link-box:hover svg {
    transition: fill 200ms ease;
    fill: var(--bg_4);
}


@media screen and (max-width: 768px) {
    body {
        padding: 0;
    }
    .heading, .secondary-heading {
        padding: 0;
        text-align: center;
        font-size: clamp(2rem, 10vw, 3rem);
    }
    .header-info {
        flex-direction: column;
    }
    .address {
        text-align: center;
        flex-direction: row;
        gap: 1rem;
    }
    nav ul, .admin-nav {
        padding: 1rem 1vw 1.25rem 1vw;
    }
    nav ul a, #logout-btn {
        font-size: 1.25rem;
    }
    #specials-heading {
        text-align: left;
    }
    #specials-container {
        flex-direction: column;
    }
    #specials-container div {
        flex: 100%;
        width: 100%;
    }
    #specials-menu-items {
        padding: 0;
        background-color: var(--bg_3);
    }
    #specials-container, #specials-menu-items, #specials-container-menu, #specials-container-welcome {
        height: fit-content;
    }
}